# Dependencies
# ------------
/vendor/
/kirby/

# System files
# ------------
Icon
.DS_Store

# Temporary files
# ---------------
/media/
/site/logs/

# Lock files
# ---------------
.lock

# Editors
# ---------------
*.sublime-project
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------
/site/cache/

# Accounts
# ---------------
/site/accounts/

# Sessions
# ---------------
/site/sessions/

# License
# ---------------
/site/config/.license

# Configs
# ---------------
/site/config/config*.php
!/site/config/config.php
