/* TEXT */
.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background: var(--primary-color);
}

.text-light {
  color: var(--text-color-light);
}

a:not(.static).text-primary:hover {
  background: var(--primary-color);
  color: white;
}

.comma:not(:last-child)::after {
  content: ", ";
}

.pipe:not(:last-child)::after {
  content: "|";
}

.backslash::after {
  content: "/";
}

.text-list:not(:nth-last-child(2))::after {
  content: ",";
}
.text-list:nth-last-child(2)::after {
  content: " and";
}
.text-list:last-child::after {
  content: ".";
}

.tooltip {
  position: relative;
}
.tooltip:before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(75%);
  width: 4rem;
  display: none;
}
.tooltip:hover:before {
  display: block;
}
